*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ff676d;
    --primary-color2: rgba(248, 120, 162, 0.5);
}
body{
    width: 100%;
    height: 100dvh;
}
.hero{
    font-family: 'Montserrat', sans-serif;
    background: var(--primary-color);
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero h1{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    color: #fff;
}
.style-row{
    width: 3200px;
    display: flex;
    transition: 0.5s;
}
.style-col{
    width: 800px;
    height: 400px;
    position: relative;
}
.img{
    position: absolute;
    top: 0;
    height: 100%;
    right: 50px;
}
.img img{
    height: 100%;
    border-radius: 10px;
}
.text{
    background: var(--primary-color2);
    backdrop-filter: blur(10px);
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 10px;
    color: black;
    padding: 45px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
.text p{
    font-size: 18px;
    line-height: 24px;
}
.text h3{
    margin: 35px 0 5px;
    color: black;
}
.container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.testimonial{
    height: 100%;
    width: 100%;
    overflow: hidden;

}
.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}
.btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.active{
    width: 45px;
}


/* ----------- media query---------------- */
/* ----------- max width 768px------------ */

@media (max-width: 768px){
    .hero h1{
        padding-top: 45px;
        font-size: 30px;
    }
    #Testimony{
        height: 90%;
    }
    .hero{
        height: 100%;
    }
    .container{
        width: 350px;
        height: 230px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .testimonial{
        height: 90%;
        width: 100%;
        overflow: hidden;
    }
    .btn{
        height: 9px;
        width: 9px;
        margin: 2px;
        border-radius: 15px;
    }
    .active{
        width: 25px;
    }
    .style-row{
        width: 2000px;
        display: flex;
        height: 300px;
        transition: 0.5s;
    }
    .style-col{
        width: 500px;
        height: 200px;
        position: relative;
    }
    .img{
        position: absolute;
        top: 0px;
        height: 100%;
        right: 140px;
    }
    .img img{
        height: 100%;
        border-radius: 10px;
    }
    .text{
        background: var(--primary-color2);
        backdrop-filter: blur(10px);
        width: 260px;
        height: 160px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        border-radius: 10px;
        color: black;
        padding: 10px;
    }
    .text p{
        font-size: 12px;
        line-height: 20px;
    }
    .text h3{
        margin: 12px 0 2px;
        color: black;
    }
}
